    form {
        box-shadow: 0 4px 8px rgba(0,0,0,1.5);
        color:black;
    }
    ::placeholder{
        color:aliceblue;
    }
    .invisible-bg{
        background-color: rgba(255, 255, 255, 0.7);
    }
    .bg-btn{
        background-color :rgba(255, 255, 255, 0.7);
    }
    button{
        color:black;
        border-radius: 7px;
    }
    #errorMessage_01{
        color: #FF4500;
    }
    #errorMessage{
        color: #FF4500;
    }
    #errorMessage_02{
        color: #FF4500;
    }
